---
import BaseLayout from '../layouts/BaseLayout.astro';
import HorizontalCard from '../components/HorizontalCard.astro';
let allData = await fetch(
  `https://glenmalaj.cdn.prismic.io/api/v2?access_token=${
    import.meta.env.PRISMIC_ACCESS_TOKEN
  }`
)
  .then((res) => res.json())
  .catch((e) => console.log(e));

const masterRef = allData.refs.filter(({ id }) => id === 'master')[0].ref;

let projects = await fetch(
  `https://glenmalaj.cdn.prismic.io/api/v2/documents/search?ref=${masterRef}&access_token=${
    import.meta.env.PRISMIC_ACCESS_TOKEN
  }`
)
  .then((res) => res.json())
  .catch((e) => console.log(e));
projects = projects.results.filter(({ type }) => type === 'project');
const threeProjects = projects?.slice(0, 3) ?? [];
---

<BaseLayout title='Euglen Malaj | Home' location='/'>
  <div class='pb-12 mt-5'>
    <div class='text-xl py-1'>Hey there 👋</div>
    <div class='text-5xl font-bold'>I'm Euglen Malaj</div>
    <div class='text-3xl py-3 font-bold'>Electrical Engineer</div>
    <div class='py-2'>
      <text class='text-lg'>
        Experienced business team leader with a history of working in the
        electrical industry. Responsible for designing, developing, testing, and
        supervising electrical wiring systems and fixtures in buildings. Skilled
        in AutoCAD, Microsoft Office, Electrical Wiring, Management, and
        Teamwork. Professional with a Master degree in Electrical Engineering
        and Electropower from the Polytechnic University of Tirana.
      </text>
    </div>
    <div class='mt-8'>
      <a class='btn rounded-md' href='/contact'> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class='text-3xl w-full font-bold mb-2'>My last projects</div>
  </div>

  {
    threeProjects.map(({ data, slugs }) => {
      return (
        <>
          <HorizontalCard
            title={data.title[0].text}
            img={data.images[0].image.url}
            desc={data.description[0].text.slice(0, 100) + '...'}
            url={`/projects/${slugs[0]}`}
            badge={data.type}
          />
          {projects.length > 1 && <div class='divider my-0' />}
        </>
      );
    })
  }
</BaseLayout>
