---
import BaseLayout from '../../layouts/BaseLayout.astro';
export const getStaticPaths = async () => {
  let allData = await fetch(
    `https://glenmalaj.cdn.prismic.io/api/v2?access_token=${
      import.meta.env.PRISMIC_ACCESS_TOKEN
    }`
  )
    .then((res) => res.json())
    .catch((e) => console.log(e));

  const masterRef = allData.refs.filter(({ id }) => id === 'master')[0].ref;
  let projects = await fetch(
    `https://glenmalaj.cdn.prismic.io/api/v2/documents/search?ref=${masterRef}&access_token=${
      import.meta.env.PRISMIC_ACCESS_TOKEN
    }`
  )
    .then((res) => res.json())
    .catch((e) => console.log(e));
  projects = projects.results;
  return projects.map((project) => {
    return {
      params: {
        slug: project.slugs[0],
      },
      props: { project },
    };
  });
};

const { project } = Astro.props;
---

<BaseLayout title={`Euglen Malaj | ${project.data.title[0].text}`} location="/projects">
  <h1 class='text-3xl w-full font-bold mb-5'>{project.data.title[0].text}</h1>
  {project.data.description.map((desc) => {
    return <p class='mb-5'>{desc.text}</p>;
  })}

  <div class='flex flex-wrap gap-4'>
    {project.data.images.map(({image}) => {
      return (
          <img
            src={image.url}
            alt={image.alt}
            class='min-w-[200px] min-h-[200px] grow aspect-square object-cover rounded-md'
          />
      );
    })}
  </div>

  <a class="btn btn-ghost my-10" href='/projects'>← Back to projects</a>

</BaseLayout>
